@use "../../../Mixin.scss" as Mixin;

.booking {
    background-image: url(../../../images/booking/hero-bg-mobile.jpg);
    padding: 5.6rem 2.4rem 22.8rem;

    @include Mixin.header-styles;
    @include Mixin.high-resolution {
        background-image: url(../../../images/booking/hero-bg-mobile@2x.jpg);
    }

    @include Mixin.up-to-tablet {
        text-align: center;
    }

    &__logo-container {
        margin-bottom: 4.4rem;
    }

    &__title {
        @include Mixin.title-header;
    }

    &__text {
        @include Mixin.text-header;
        margin: 1.3rem 0 1.9rem;
    }
}