@use "../../Mixin.scss" as Mixin;

.event-page {
    text-align: center;

    &__title {
        @include Mixin.title-1;
    }

    &__text {
        margin: 1.3rem 0 2.7rem;
        line-height: 2.6rem;
    }
}