@use "../../Mixin.scss" as Mixin;

.about-section {
    text-align: center;
    display: grid;
    grid-template-columns: 1fr;
    justify-items: center;

    &__image {
        width: 32.7rem;
        height: 40rem;
        box-shadow: var(--box-shadow-2);
        margin: 0 auto;
    }
}