@use "../../../Mixin.scss" as Mixin;

.header {
    height: 100%;
    width: 100%;
    background-image: url(../../../images/homepage/hero-bg-mobile.jpg);
    background-size: cover;
    background-position: top center;
    text-align: center;
    padding: 24.2rem 2.4rem 15.2rem;
    
    @include Mixin.high-resolution {
        background-image: url(../../../images/homepage/hero-bg-mobile@2x.jpg);
    }

    &__logo-container {
        margin-bottom: 3.6rem;
    }

    &__title {
        font-weight: 300;
        font-size: 3.2rem;
        line-height: 4rem;
        letter-spacing: -0.4px;

        & > span {
            display: block;
        }
    }

    &__text {
        line-height: 2.6rem;
        margin: 2.1rem 0 5.3rem;
    }

}